.btn {
  padding: .25rem 1rem;
  background: blue;
  border: 0;
  color: white;
}

.btn--warning {
  background: red;
}

.btn--large {
  padding: .5rem 2rem;
  font-size: 1.25em;
  line-height: 1.75;
}
